.feedback
    background-color: $color-light

    ol
        padding: 0
        
    li
        list-style: none

    &__blocks-wrapper
        overflow: hidden

    &__blocks-inner
        position: relative
        display: flex
        width: 100%
        margin-bottom: 55px
        transition: all 0.5s

    &__block
        display: flex
        width: 1200px

    &__img
        img
            width: 300px
            height: 300px
            border-radius: 100%

    &__message
        line-height: 30px

    &__percent
        width: 500px
        &-text
            display: flex
            justify-content: space-between
            .percent 
                text-align: right

        .progressBarContainer 
            width: 100%
            background-color: #eae9e9
            border-radius: 8px
            overflow: hidden

        .progressBar 
            height: 14px
            background-color: #00B5E2
            width: 0%
            text-align: center
            line-height: 30px
            color: white
            border-radius: 8px
            transition: width 0.1s linear

    .carousel-indicators
        display: flex
        justify-content: center
        gap: 20px

    .feedback__dot
        position: relative
        display: block
        width: 10px
        height: 10px
        border: 1px solid $main-color
        border-radius: 100%