.hero
    background: url('../img/main-bg.png')
    background-repeat: no-repeat
    background-size: cover
    // background-attachment: fixed
    // object-fit: fill
    background-position: center
    padding-top: 140px
    .container
        margin: 0 auto
    &__content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: start
        max-width: 480px
        height: 600px
        .title
            margin: 0
            color: white
        .subtitle
            color: white
            line-height: 22px
        .btn
            @include button
            background-color: transparent
            &:hover
                background-color: $main-color
                color: white
